:root{
    --blue: #0169D9;
    --primary: #e3edf8;
} 

* {
    margin: 0;
    padding: 0;
}

body {
    color: #000;
}

@media (max-width:1024px) {
    body {
        align-items: center;
    }
}

.space {
    margin-left: 15px;
}

/* Container section */

.container {
    margin: 40px auto;
}

/* Nav Bar */

.brand-name {
    color: var(--blue) !important;
    font-size: 25px;
}

.nav-item {
    margin: auto 10px 0 20px;
}

.navbar {
    margin-bottom: 40px;
    padding-left: 0;
}

.get-started-button {
    border-radius: 20px;
}

/* Header */

.main-heading {
    font-size: 30px;
    line-height: 1.5;
    font-weight: 600;
    margin-bottom: 30px;
    margin-right: 0;
    color: var(--blue);
}

.heading-image {
    width: 100%;
}

.header-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Download Buttons */

.download-button {
    margin: 20px 10px 40px 0;
    font-size: 20px;
}

/* App Features */

.heading {
    margin: 40px 0 20px;
    color: var(--blue);
}

.paragraph {
    text-align: center;
    margin-bottom: 50px;
}

.features-container {
    display: flex !important;
    margin-bottom: 20px;
}

.features-left-section, .features-right-section {
    display: flex;
    margin-left: 20px;
}

.icon {
    font-size: 30px;
    margin-right: 10px;
    color: var(--blue);
}

.features-description-heading {
    font-weight: bold;
    margin-bottom: 10px;
}

.feature-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-features-image {
    width: 40%;
}

.features {
    margin: 30px auto;
}

.feature-section-image {
    display: flex;
}

.features-image {
    width: 80%;
}

.points {
    list-style: none;
  }
  
.points li:before {
    content: '✔️';
}

.italic-description {
    font-style: italic;
}

/* Gallery */

.gallery-images {
    display: flex;
}

.g-img {
    width: 15.9%;
    padding: 0 8px;
}

@media (min-width:960px) {
    .g-img {
        width: 16.3%;
    }
}

.g-img:hover {
    border: 3px solid var(--blue);
    border-radius: 30px;
    padding: 0;
}

.carousel {
    padding-bottom: 80px;
}

/* Indicators */

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #000;
}

  /* Testimonials */

  #testimonials {
      margin: 0 auto;
  }

.testimonials, .news-letter, .faq{
    background-color: var(--primary);
    padding: 15px 0;
    margin: 20px 0;
}

.testimonial-container {
    display: flex;
}

.testimonial-details {
    background-color: #fff;
    position: relative;
    flex: 1;
}

.testimonial-img {
    position: absolute;
    width: 75px;
    top: 20px;
    left: -35px;
}

.testimonial-details {
    margin: 30px;
    padding: 20px 20px 10px 60px;
}

.name {
    margin-bottom: 0;
}

.role {
    margin-top: 0;
    color: grey;
}

.quote-mark {
    color: #bccbdb;
    font-size: 20px;
    margin: 5px;
}

/* Pricing */

.card-header {
    background-color: #fff;
    border: none;
}

.card-title {
    color: VAR(--blue);
}

.pricing-name {
    color: grey
}

.plan {
    box-shadow: 0 2px 22px rgba(10, 10, 10, 0.42);
    background: #fff;
    border-radius: 20px;
    margin: 20px 0;
    padding: 30px;
}
    
.plan:hover {
    margin: 6px 0;
    height: 100%;
    position: relative;
    z-index: 99;
}

.points {
    text-align: justify;
}
    
.pricing-section {
    padding: 0;
}

.last-points {
    text-decoration: line-through;
    color: grey;
}

ul .strike-through:before {
    content: '╳';
}

.pricing-btn {
    display: flex;
    justify-content: center;
}

.free-pricing-button, .business-pricing-button, .developer-pricing-button {
    border-radius: 20px;
    width: 200px;
}

/* FAQ */

.one, .two, .three, .four {
    display: none;
}

#one, #two, #three, #four {
    background-color: #fff;
    padding: 5px;
    margin-left: 8px;
    border: none;
}

.faq-section {
    background-color: #fff;
    margin: 20px 100px;
    padding: 30px;
}

.faq-question-section {
    display: flex;
    justify-content: space-between;
}

.one-faq-question, .two-faq-question, .three-faq-question, .four-faq-question {
    display: flex;
    justify-content: space-between;
}

/* Contact Us */

.form-control {
    display: block;
    margin: 0 0 10px;
}

.form-submit {
    display: flex;
    justify-content: center;
}

.form-submit-button {
    border-radius: 30px;
    padding: 5px 20px;
    border: 1px solid VAR(--blue);
    color: VAR(--blue);
    margin: 20px;
    background-color: #fff;
}

.contact-section {
    margin-bottom: 10px;
}

.contact-details-section {
    text-align: center;
}

.contact-details-left, .contact-details-right {
    background-color: var(--primary);
    padding: 40px;
    border: 2px solid #fff;
}

.contact-points {
    margin-bottom: 1.5px;
    font-size: 13px;
    color: #000;
}

.contact-points a {
    color: #000;
}

.contact.form {
    padding: 0;
}

/* Newsletter */

.subcribe {
    width: 90%;
    border-radius: 30px;
    padding: 8px;
    border: 1px solid grey;
}

.subcribe-button {
    border-radius: 30px;
    padding: 8px 20px;
    background-color: VAR(--blue);
    color: #fff;  
    border: 1px solid VAR(--blue);  
}

.fuild {
    padding: 0 15%;
}

.letter {
    color: #000;
}

.button-section {
    position: relative;
}

.subcribe-button {
    position: absolute;
    top: 0;
    right: 30px
}

/* Footer */

.footer-section {
    display: flex;
    justify-content: space-around;
}

.assignment {
    font-weight: normal;
}

.assignment-section {
    margin-bottom: 1px;
}

.footer-assignment, .footer-usefull-links, .footer-services, .footer-social-networks {
    margin: 15px;
    flex: 1;
}

footer p, footer a, footer li {
    font-size: 10px;
    color: grey;
}

footer span {
    font-weight: bold;
}

.footer-icons { 
    color: #fff;
    background-color: var(--blue);
    border: 1px solid var(--blue);
    margin: 2px;
    font-size: 25px;
    padding: 4px;
    border-radius: 10px;
}

.copyright-section {
    background-color: var(--primary);
    position: relative;
    margin: 0;
    padding: 1px;
}

.copyright {
    font-size: 15px;
    color: #000;
    font-weight: light;
}

.copyright-sentence {
    font-size: 12px;
    margin: 16px auto;
}

.footer-bolder {
    font-weight: bold;
}

.copyright-icon {
    position: absolute;
    top: 40%;
    right: 2%;
    border: none;
    border-radius: 30px;
    padding: 5px 10px;
    background-color: var(--blue);
    color: #fff;
    margin-bottom: 0;
}

.footer-margin {
    padding: 8px auto 5px;
    margin: 5px auto;
}